.hex {
    @apply relative mx-auto my-0  bg-white box-border;
    @apply h-[150px] w-[170px] ; /* width * 0.866 */
    @apply hover:cursor-pointer;
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path:  inset(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100% round 10px);
    /* -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    clip-path:  inset(0 0 0 0 round 10px); */

}


.hexBg {
    @apply relative bg-[#808080] object-cover object-top; /*color of the main-background*/
    @apply top-[2.5%]; /* equal to border thickness */
    @apply left-[2.5%]; /* equal to border thickness */
    @apply w-[95%]; /* container width - (border thickness * 2) */
    @apply h-[95%]; /* container height - (border thickness * 2) */
    -webkit-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    -moz-clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
}

img {
	clip-path: url(#svgPath);
}

